In [1]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [13]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_10 = dt.date(2010, 6, 1)
july_10 = dt.date(2010, 7, 1)
june_11 = dt.date(2011, 6, 1)
july_11 = dt.date(2011, 7, 1)
june_12 = dt.date(2012, 6, 1)
july_12 = dt.date(2012, 7, 1)
june_13 = dt.date(2013, 6, 1)
july_13 = dt.date(2013, 7, 1)
june_14 = dt.date(2014, 6, 1)
july_14 = dt.date(2014, 7, 1)
june_15 = dt.date(2015, 6, 1)
july_15 = dt.date(2015, 7, 1)
june_16 = dt.date(2016, 6, 1)
july_16 = dt.date(2016, 7, 1)
june_17 = dt.date(2017, 6, 1)
july_17 = dt.date(2017, 7, 1)

results = []
results = session.query(Measurement.date, Measurement.tobs)
results = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= june_10) & (Measurement.date < july_10)|
       (Measurement.date >= june_11) & (Measurement.date < july_11)|
       (Measurement.date >= june_12) & (Measurement.date < july_12)|
       (Measurement.date >= june_13) & (Measurement.date < july_13)|
       (Measurement.date >= june_14) & (Measurement.date < july_14)|
       (Measurement.date >= june_15) & (Measurement.date < july_15)|
       (Measurement.date >= june_16) & (Measurement.date < july_16)|
       (Measurement.date >= june_17) & (Measurement.date < july_17)).all()

In [14]:
#  3. Convert the June temperatures to a list.
june_temp = list(results)

In [15]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temp_df = pd.DataFrame(results, columns=['date', 'June Temps'])
june_temp_df = june_temp_df.set_index(june_temp_df['date'], inplace = False)

In [16]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temp_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [17]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_10 = dt.date(2010, 12, 1)
jan_10 = dt.date(2011, 1, 1)
dec_11 = dt.date(2011, 12, 1)
jan_11 = dt.date(2012, 1, 1)
dec_12 = dt.date(2012, 12, 1)
jan_12 = dt.date(2013, 1, 1)
dec_13 = dt.date(2013, 12, 1)
jan_13 = dt.date(2014, 1, 1)
dec_14 = dt.date(2014, 12, 1)
jan_14 = dt.date(2015, 1, 1)
dec_15 = dt.date(2015, 12, 1)
jan_15 = dt.date(2016, 1, 1)
dec_16 = dt.date(2016, 12, 1)
jan_16 = dt.date(2017, 1, 1)
dec_17 = dt.date(2017, 12, 1)

results = []
results = session.query(Measurement.date, Measurement.tobs)
results = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= dec_10) & (Measurement.date < jan_10)|
       (Measurement.date >= dec_11) & (Measurement.date < jan_11)|
       (Measurement.date >= dec_12) & (Measurement.date < jan_12)|
       (Measurement.date >= dec_13) & (Measurement.date < jan_13)|
       (Measurement.date >= dec_14) & (Measurement.date < jan_14)|
       (Measurement.date >= dec_15) & (Measurement.date < jan_15)|
       (Measurement.date >= dec_16) & (Measurement.date < jan_16)|
       (Measurement.date >= dec_17)).all()

In [19]:
# 7. Convert the December temperatures to a list.
dec_temp = list(results)

In [20]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temp_df = pd.DataFrame(results, columns=['date', 'December Temps'])
dec_temp_df = dec_temp_df.set_index(dec_temp_df['date'], inplace = False)

In [21]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temp_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000